@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body,
p,
a {
  font-family: "Quicksand", sans-serif;
  line-height: 150%;
  font-weight: 400;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

a.nav-link,
a.navbar-brand {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 600;
}

#nav-container {
  max-width: 1400px;
  margin: auto;
}

.navbar-toggler {
  border-color: transparent !important;
}

a.text-dark:hover,
.nav-link:hover, 
a.text-dark:focus,
.nav-link:focus {
  color: rgb(196, 89, 89) !important;
}


.card-img-top.cardImg {
  border-radius: 0;
  max-height: 34.8rem;
}

.field-text {
  color: white;
}

#about {
  max-width: 1350px;
}


#projects, #contact {
  max-width: 1420px;
} 

#competence {
  max-width: 1410px;
}

#projects .col-md {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.competence-infoField {
 /* border-left: 5px solid;
  border-left-color: #17a2b8 !important; */
  border-radius: 0;
}

.btn-Copy {
box-sizing: border-box !important;
border-radius: 0 !important;
border: 1px solid rgba(0, 0, 0, 0.2) !important;
background-color: rgba(255, 255, 255, 0.9) !important;
color: rgba(0, 0, 0, 0.8) !important;
padding: 0.75em 1rem !important;
font-size: 18px !important;
line-height: 115% !important;
}

.btn-Copy:hover {
  color: inherit;
}

