@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

/*
[class^="col"] {
  background-color: grey;
  border: 2px solid lightgrey;
}
*/

/*
[class^="btn"] {
  margin: 0.5em;
}
*/

body,
p,
a {
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Mono", sans-serif;
}

a.nav-link,
a.navbar-brand {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.2em;
}

a.text-dark:hover,
.nav-link:hover {
  color: lightgrey !important;
}

.card-img-top {
  border-radius: 0;
}

/*
.field-header {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
} 
*/

.field-name {
  color: lightgrey;
}

.field-text {
  font-size: 1em;
  color: white;
}

#about {
  max-width: 1350px;
}

#projects {
  max-width: 1420px;
}

#competence {
  max-width: 1410px;
}

#contact {
  max-width: 1420px;
}

#projects .col-md {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* 
div#about > div.row {
  border-bottom-width: 8px !important;
}
*/

/*
.competence-infoField {
  border-left: 5px solid;
  border-left-color: #17a2b8 !important;
}
*/
