@import url("https://fonts.googleapis.com/css?family=Amaranth");
@import url("https://fonts.googleapis.com/css?family=Fauna+One");

/*
[class^="col"] {
  background-color: grey;
  border: 2px solid lightgrey;
}
*/

/*
[class^="btn"] {
  margin: 0.5em;
}
.col {}
*/

body,
p,
a {
  font-family: "Fauna One", sans-serif;
  line-height: 150%;
}

h1,
h2,
h3,
h4 {
  font-family: "Amaranth", sans-serif;
}

.nav-link {
  font-family: "Amaranth", sans-serif;
  font-size: 1.5em;
}

a.text-dark:hover,
.nav-link:hover,
nav-item a:hover {
  color: lightgrey !important;
}

.card-img-top {
  border-radius: 0;
}

.name-field {
  color: lightgrey;
}

.bio-text {
  font-size: 1.1em;
  color: white;
}

#home {
  /* min-height: 100vh; */
}

#om-mig {
}

#stuff {
}

div#om-mig > div.row {
  border-bottom-width: 8px !important;
}
